# IDEA
.idea

# Sensitive files
/config/git-credentials.txt

# Log files
/logs/*

# Git directories
venv

# Vim files
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Random file
utils/__pycache__/__init__.cpython-37.pyc
