# Sensitive files
/config/git-credentials.txt

# Git directories
/config/vim/vim-settings/
/config/bash/bash-settings/

# Vim files
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
