autopep8==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
idna==2.8
importmagic==0.1.7
jedi==0.16.0
mccabe==0.6.1
parso==0.6.2
pexpect==4.7.0
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
requests==2.22.0
rope==0.16.0
urllib3==1.25.8
